<nav class="menu">
  <img src="assets/images/logoV2.jpg" alt="Logo">
  <ul>
    <li>
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Accueil</a>
    </li>
    <li>
      <a routerLink="/inscription-particapant" routerLinkActive="active">Trouver des événements</a>
    </li>
    <li>
      <a routerLink="/inscription" routerLinkActive="active">Créer des événements</a>
    </li>
    <li>
      <a routerLink="/connexion" routerLinkActive="active">Connexion</a>
    </li>
    <li>
      <a routerLink="/navigation-org" routerLinkActive="active">Ouvrir un compte</a>
    </li>
  </ul>
</nav>